/*flickity*/
.carousel-cell {
  width: 100%;
  height: 400px;
  margin-top: 60px;
}

@media screen and ( min-width: 768px ) {
   /*half-width cells for larger devices*/ 
  .carousel-cell { width: 50%; }
}

/*dropdown*/
.pull-right {
  float: right !important;
}

/*header css*/


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);

#header {
  position: absolute;
  height: 80px;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.75);
  margin: 0px 0px 40px 0px;
}

#logo {
  font-family: 'Shrikhand', cursive;
  color: rgb(84, 237, 211);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 1;
  position: absolute;
  top: 8%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
}

/*navagation css*/


#menu {
  width: 1090px;
  height: 42px;
  list-style: none;
  position: absolute;
  text-align: center;

}
#menu li {
  width: 200px;
  margin: 30px 0px;
  position: relative;
  -webkit-transform: skewy(-3deg);
  -webkit-backface-visibility: hidden;
  -webkit-transition: 200ms all;
}

#menu li a {
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
  font-weight: 800;
  display: block;
  background: #FFF;
  padding: 2px 20px;
  color: #333;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
  text-shadow: 
    1px 1px 0px #FFF, 
    2px 2px 0px #999,
    3px 3px 0px #FFF;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.05) 100%);
  -webkit-transition: 1s all;
  background-image: -webkit-linear-gradient(left top, 
    transparent 0%, transparent 25%, 
    rgba(0,0,0,.15) 25%, rgba(0,0,0,.15) 50%, 
    transparent 50%, transparent 75%, 
    rgba(0,0,0,.15) 75%);
  background-size: 4px 4px;
  box-shadow: 
    0 0 0 1px rgba(0,0,0,.4) inset, 
    0 0 20px -5px rgba(0,0,0,.4),
    0 0 0px 3px #FFF inset;
}
#menu li:hover {
  margin-left: 15px;
}
#menu a:hover {
  color: #d90075;
}
#menu li:after,
#menu li:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 100%;
  background: #BBB;
  border-radius: 4px;
}
#menu li:after {
  background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0,0,0,.4) 100%);
  right: 0;
  top: -4px; 
}
#menu li:before {
  left: 0;
  bottom: -4px;
  background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0,0,0,.4) 100%);
}