/*flickity css*/

.main-carousel {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%,0%);
  width: 800px;
  height: 390px;
  
/*  border-style: solid double;
  border-color: black;
  border-top: 0px;
  border-bottom: 0px;
  border-width: 20px;*/
}

.carousel-cell {
  margin: 0px 10px;
  width: 78% !important;
  height: 350px !important;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-cell > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  width: 100%;
  height: auto;
  max-height: 375px;
}

/*login button*/
.userClick {
  -webkit-transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 650px;
  height: 200px;
  width: 800px;
  font-size: 80px;
  text-align: center;
  line-height: 190px;
  font-family: 'Righteous', cursive;
  border-radius: 225px;
  /*background: rgb(84, 237, 211);*/
  background: rgb(247, 114, 115);
  border-outline: none;
}

.userClick:hover {
  background: rgb(84, 237, 211);
  color: white;
  border: 20px solid black;
  line-height: 150px;
  -webkit-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
}

/*login modal*/

#loginModal {
  display: none;
  position: absolute;
  margin: auto;
  height: 500px;
  width: 600px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: white;
  -webkit-box-shadow: -1px 13px 98px 6px rgba(0,0,0,0.75);
}

#buttonContainer {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  height: 98px;
  background: rgba(255,255,255,.5);
}

#buttonContainer > div {
  float: left;
  width: 50%;
  height: 98px;
  font-size: 40px;
  text-align: center;
  line-height: 90px;
}

#buttonContainer > div:hover {
  box-shadow: inset 0 -10px 20px -10px rgba(0,0,0,0.75);
}


#formContainer {
  position: absolute;
  top: 98px;
  width: 100%;
}

.form-group > input {
  margin: 30px;
  width: 90%;
  border-radius: 10px;
  padding: 25px;
}

#registerHtml > input {
  border-radius: 0px;
}

#loginHtml > button {
  border-radius: 0px;
}



/*footer css*/

footer {
  color: white;
  text-align: center;
  height: 80px;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.75);
}



/*body and background*/

body {
  padding: 20px 80px;
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}

/*home page*/

#homeContainer {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  overflow: hidden;
}

#profileContainer {
  position: absolute;
  left: 0;
  width: 4%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75); 
}

#selectProfile {
  position: absolute;
  -webkit-transform: translate(0%,0%);
  bottom: 10%;
  right: 0;
  height: 30px;
  width: 35px;
  text-align: right;
  background: black;
  color: white;
  padding-right: 2px;
}

#selectProfile > span:hover {
  color: red;
}

#profileJazz > img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: absolute;
  margin: 20px auto 0px auto;
  left: 0;
  right: 0;
}

#profileStats {
  position: absolute;
  margin: 200px auto 0px auto;
  left: 0;
  right: 0;
  height: 385px;
  width: 90%;
  background: rgba(255,255,255,.5);
}


.profStatBox {
    width: 100%;
    height: 120px;
    padding-left: 10px;
}

#profStat {
    float: left;
    margin: 16px 3px;
    width: 61px;
}

#profStat > h3, #profStat > h2 {
    float: left;
    margin: 3px 3px;
}

#profStat > h3 {
    font-family: 'Fjalla One', sans-serif;
    writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    font-size: 30px;
    margin-left: 9px;
}

#profStat > h2 {
    background: red;
    color: white;
    border-radius: 50%;
    height: 50px;
    text-align: center;
    line-height: 2.3;
    width: 50px;
    font-size: 20px;
}
/*https://codepen.io/jamesbarnett/pen/kfmKa*/
.marquee {
    position: absolute;
    bottom: 5%;
    height: 60px;
    width: 100%;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    overflow: hidden;
}

.marquee div {
    display: block;
    width: 200%;
    height: 60px;

    position: absolute;
    overflow: hidden;

    animation: marquee 5s linear infinite;
}

.marquee span {
    float: left;
    width: 50%;
}

@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}



#navContainer {
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  height: 420px;
  width: 500px;
}


.homeDirectoryButtons {
  margin: 15px 0px;
  height: 120px;
  width: 500px;
  background: rgb(247, 114, 114);
  text-align: center;
  line-height: 120px;
  font-family: 'Righteous', cursive;
  font-size: 60px;
  border-radius: 15px;
}

.homeDirectoryButtons:hover {
  color: white;
  background: rgb(84, 237, 211);
  -webkit-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
}

#infoContainer {
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  height: 420px;
  width: 400px;
  background: rgba(255,255,255,.3);
  -webkit-box-shadow: -1px 13px 98px 6px rgba(0,0,0,0.75);
}


#carouselNav {
  position: absolute;
  top: 80px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80px;
  background: rgba(255,255,255,.5);
}

.directional {
  position: absolute;
  width: 80px;
  height: 80px;
  background: black;
}

.directional > img {
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
}

#up {
  top: 5%;
}

#down {
  bottom: 5%;
}

/*buildContainer*/

#buildContainer {
  position: absolute;
  -webkit-transform: translate(-50%,0%);
  top: 30px;
  left: 50%;
  width: 80%;
  margin-bottom: 100px;
}


/*header css*/


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);

#header {
  position: absolute;
  height: 80px;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.75);
  margin: 0px 0px 40px 0px;
}

#logo {
  font-family: 'Shrikhand', cursive;
  color: rgb(84, 237, 211);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 1;
  position: absolute;
  top: 8%;
  left: 2%;
  -webkit-transform: translate(0%, 0%);
}

#headerNav {
  position: absolute;
  right: 2%;
  width: 300px;
  height: 80px;
}

#headerNav > a {
  float: left;
  margin: 0px 10px;
}

#home > img {
  
  height: 80px;
  width: 80px;
}

#back > img {
  margin-top: 12px;
  height: 60px;
  width: 60px;
}

#key > img {
  margin-top: 12px;
  height: 60px;
  width: 60px;
}

/*grid*/

#gridContainer {
  position: absolute;
  padding-top: 50px;
  padding-bottom: 30px;
  -webkit-transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  width: 700px;
  height: 730px;
  overflow: scroll;
}

#gridContainer::-webkit-scrollbar { 
    display: none; 
}

#grid {
  width: 800px;
}

/*product Box*/
.grid-item {
  float: left;
  width: 40%;
  margin: 0px 10px 25px 10px;
}

.productBox {
  position: relative;
  height: 300px;
  width: 100%;
  background: rgba(0,0,0,.5);
  overflow: hidden;
}

.pImg {
  position: absolute; 
  -webkit-transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  height: 100%;
  width: auto;
  max-height: 300px;
}

#slide {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background: rgba(255,255,255,.75);
  -webkit-transition: bottom 0.6s ease-in-out;
  height: 40%;
  width: 100%;
  text-align: center;
  color: black;
  font-family: 'Righteous', cursive;
  -webkit-box-shadow: 0px -5px 48px -12px rgba(0,0,0,0.95);
  -moz-box-shadow: 0px -5px 48px -12px rgba(0,0,0,0.95);
  box-shadow: 0px -5px 48px -12px rgba(0,0,0,0.95);
}

#slide > h1 {
  line-height: 69px;
}



.productBox:hover #slide{
  display: block;
  transition: 5s;
}

/*product modal*/

#productModal {
  display: none;
  position: absolute;
  left: 800px;
  top: 120px;
  -webkit-transform: translate(-50%, 0%);
  height: 350px;
  width: 500px;
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 2px 114px -8px rgba(79,79,79,1);
  -moz-box-shadow: 0px 2px 114px -8px rgba(79,79,79,1);
  box-shadow: 0px 2px 114px -8px rgba(79,79,79,1);
}

#contentContainer {
  position: absolute;
  height: 350px;
  width: 100%;
  background: rgba(0,0,0,.5);
}

/*doug adds*/


/*#cardBackground {
  right: 5%;
  top: 5%;
  height: 100%;
  width: 40%;
}
*/
/*.userBioHeader {
  position: absolute;
  width: 100%;
  height: 60px;
  background: rgb(50, 50, 50);
  font-family: Alfa Slab One;
  text-decoration: underline;
  color: rgb(84, 237, 211);
  -webkit-box-shadow: 13px 11px 17px -4px rgba(0,0,0,0.55);
  -moz-box-shadow: 13px 11px 17px -4px rgba(0,0,0,0.55);
  box-shadow: 13px 11px 17px -4px rgba(0,0,0,0.55);
}
*/
/*flip container*/

.flip-container {
  position: absolute;
  top: 10%;
    -webkit-transform: translate(-50%,0%);
    -moz-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    -o-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    left: 50%;
  perspective: 1000px; 
}

#flipCtl {
  display: none;
}

#flipBtn {
  width: 100%;
  height: 200px;
}

/* flip the pane when hovered */
/*.flip-container:hover .flipper, .flip-container.hover .flipper {*/
#flipCtl:checked + label > .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 450px;
    height: 200px;
}


/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

/*#contentContainer {
  position: absolute;
  left: 2%;
  top: 2%;
  bottom: 2%;
  z-index:100;
  width: 100%;
  background: rgb(100, 100, 100);
}*/

#contentContainer > h1 {
  padding-top: 10px;
  padding-left: 30px;
}

.productHeader {
  position: absolute;
    top: -6%;
    width: 100%;
    padding: 10px;
    height: 60px;
  height: 60px;
  background: rgb(50, 50, 50);
  font-family: 'Righteous', cursive;
  color: white;
}

.productDes {
  position: relative;
  top: 20%;
  right: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 200px;
  background: rgba(250, 250, 250, 0.95);
  font-family: Bangla Sangam MN;
    font-size: 18px;
  color: rgb(0, 0, 0);
  -webkit-box-shadow: 13px 11px 17px -4px rgba(0,0,0,0.55);
  -moz-box-shadow: 13px 11px 17px -4px rgba(0,0,0,0.55);
  box-shadow: 13px 11px 17px -4px rgba(0,0,0,0.55);
}

.userBio {
  position: relative;
  top: 20%;
  right: 0;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 20px;
  width: 100%;
  height: 200px;
  background: rgba(250, 250, 250, 0.95);
  font-family: Bangla Sangam MN;
  color: rgb(0, 0, 0);
  -webkit-box-shadow: 13px 11px 17px -4px rgba(0,0,0,0.55);
  -moz-box-shadow: 13px 11px 17px -4px rgba(0,0,0,0.55);
  box-shadow: 13px 11px 17px -4px rgba(0,0,0,0.55);
}

.userBio > h1 {
    background: rgb(84, 237, 211);
    color: rgba(0,0,0,.75);
    width: 81px;
    height: 28px;
    font-size: 26px;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    line-height: 1.1;
    float: right;
    margin-top: 45px;
}

#pStat {
    float: left;
    margin: 0px 5px;
    width: 80px;
}

#pStat > h3, #pStat > h2 {
    float: left;
    margin: 10px 3px;
}

#pStat > h3 {
    font-family: 'Fjalla One', sans-serif;
    writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
}

#pStat > h2 {
    background: red;
    color: white;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    line-height: 2.3;
    width: 40px;
    font-size: 20px;
}

.modalButtonBox {
  position: absolute;
  width: 100%;
  bottom: 4%;
  left: 52%;
  -webkit-transform: translate(-50%, 0%);
}

.modalButtonBox > button {
  background: rgb(255, 219, 66);
  color: black;
  font-family: 'Righteous', cursive ;
    font-size: 20px;
  border: none;
    border-radius: 5px;
    width: 31%;
    height: 40px;
    margin: 0px 5px 0px 0px;
}

.modalButtonBox > button:hover {
    color: white;
    background: rgb(0, 109, 239);
}




/*end*/

#chatModal {
  position: absolute;
  left: 800px;
  top: 480px;
  display: none;
  -webkit-transform: translate(-50%, 0%);
  height: 250px;
  width: 500px;
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 2px 114px -8px rgba(79,79,79,1);
  -moz-box-shadow: 0px 2px 114px -8px rgba(79,79,79,1);
  box-shadow: 0px 2px 114px -8px rgba(79,79,79,1);
}


.closeModal {
  position: absolute;
    right: 2%;
    top: 2%;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  background: rgba(255,255,255,.5);
}

.closeModal > span {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: black;
  font-size: 30px;
}


/*handlebars*/



/*comment box*/

#commentInput {
  width: 100%;
  background: black;
  height: 50px;
}

#commentInput > input {
  width: 400px;
  margin: 10px 5px 0px 15px;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

#commentInput > button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background: red;
}

#comments {
  overflow: scroll;
  height: 200px;
}


#comments > div {
  background: rgba(0,0,0,.3);
  margin: 10px 0px;
  position: relative;
  display: inline-block;
}

.username, .commentLoad {
  font-family: "Righteous", cursive;
  height: 100%;
}

.username {
  margin: 10px 0px -15px 0px;
  background: white;
  padding: 0px 10px;
}

.commentLoad {
  display: inline-block;
  font-size: 20px;
  width: 80%;
  min-width: 401px;
  text-align: justify;
  margin: 20px 0px 5px 10px;
}

#commentLike {
  border-radius: 3px;
  background: #953bc5;
    border: none;
  color: white;
  float: right;
  margin: 23px;
  padding: 10px;
}


/*toolbox parts masonry render grid item (addProduct.js)*/

.parts-item {
  width: 15%;
  height: 125px;
  color: white;
  margin: 5px 0px;
  border-radius: 5px;
  display: inline-block;  
}

.parts-item span{
  position: absolute;
  left: 10%;
  bottom: 5%;
  z-index: 40;
  font-size: 15px;
}


.check {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(0,0,0,.75);
}

.check span {
  position: absolute;
  font-size: 40px;
  top: 5%;
}


/*input elements for build it, make it form (form.html)*/

/*survey to create maker*/

#surveyElement {
  position: relative;
  color: white;
  font-family: 'Righteous', cursive;
  width: 100%;
  background: rgba(0,0,0,.5);
  -webkit-transform: translate(-50%, 0);
  left: 50%;
  top: 0;
}

#next, #previous{
  background: rgb(84, 237, 211);
  color: black;
  font-size: 20px;
  height: 80px;
  width: 120px;
  border: none;
  margin: 20px 0px 0px 40px;
  font-family: 'Shrikhand', cursive ;
}

#next {
  float: right;
  margin: 20px 45px 0px 0px;
}

#previous {
  position: absolute;
  bottom: 4%;
  left: -2%;
}

.completeButton {
  font-size: 20px;
  background: rgb(247, 114, 114);
  margin: 20px;
  height: 80px;
  width: 120px;
  border: none;
  font-family: 'Shrikhand', cursive; 
}
.panel-footer {
  padding: 0 15px;
  border:none;
  text-align: right;
  background: none;
}


/*table css*/
#inventoryContainer {
  position: absolute;
  -webkit-transform: translate(-50%,0%);
  left: 50%;
  width: 880px;
}

#inventoryContainer > h1 {
  font-family: 'Righteous', cursive;
  background: rgb(247, 114, 114) ;
  padding-left: 10px;
  border-radius: 10px;
}


/*table styles (inventory.html)*/


#projects, #purchase {
  width: 100%;
  border-collapse: collapse;
}

#projects th, #purchase th {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom:5px;
  text-align: left;
}


#projects tr:nth-child(even), #purchase tr:nth-child(even) {
  background-color: #f2f2f2;
}

#projects tr:hover, #purchase tr:hover {
  background-color: #ddd;
}

th, td {
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid;
  border-color: rgba(0,0,0,.3);
}

th {
  font-size: 20px;
  border-bottom: 2px solid !important;
  border-color: rgba(0,0,0,.3) !important;
}

.glyphicon {
  font-size: 25px;
}

.glyphicon-plus {
  color: green;
}

.glyphicon-remove {
  color: red;
}

.glyphicon:hover {
  color: rgba(0,0,0,.5);
}

/* default full-width cells */
.carousel-cell {
  width: 100%;
  height: 400px;
  margin-top: 40px;
}
