/*flickity css*/

.main-carousel {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%,0%);
  width: 800px;
  height: 390px;
  
/*  border-style: solid double;
  border-color: black;
  border-top: 0px;
  border-bottom: 0px;
  border-width: 20px;*/
}

.carousel-cell {
  margin: 0px 10px;
  width: 78% !important;
  height: 350px !important;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-cell > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  width: 100%;
  height: auto;
  max-height: 375px;
}

/*login button*/
.userClick {
  -webkit-transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 650px;
  height: 200px;
  width: 800px;
  font-size: 80px;
  text-align: center;
  line-height: 190px;
  font-family: 'Righteous', cursive;
  border-radius: 225px;
  /*background: rgb(84, 237, 211);*/
  background: rgb(247, 114, 114);
  border-outline: none;
}

.userClick:hover {
  background: rgb(84, 237, 211);
  color: white;
  border: 20px solid black;
  line-height: 150px;
  -webkit-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
}

/*login modal*/

#loginModal {
  display: none;
  position: absolute;
  margin: auto;
  height: 500px;
  width: 600px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background: white;
  -webkit-box-shadow: -1px 13px 98px 6px rgba(0,0,0,0.75);
}

#buttonContainer {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  height: 98px;
  background: rgba(255,255,255,.5);
}

#buttonContainer > div {
  float: left;
  width: 50%;
  height: 98px;
  font-size: 40px;
  text-align: center;
  line-height: 90px;
}

#buttonContainer > div:hover {
  box-shadow: inset 0 -10px 20px -10px rgba(0,0,0,0.75);
}


#formContainer {
  position: absolute;
  top: 98px;
  width: 100%;
}

.form-group > input {
  margin: 30px;
  width: 90%;
  border-radius: 10px;
  padding: 25px;
}

#registerHtml > input {
  border-radius: 0px;
}

#loginHtml > button {
  border-radius: 0px;
}



/*footer css*/

footer {
  color: white;
  text-align: center;
  height: 80px;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.75);
}



/*body and background*/

body {
  padding: 20px 80px;
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}

/*home page*/

#homeContainer {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  overflow: hidden;
}

#profileContainer {
  position: absolute;
  left: 0;
  width: 4%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75); 
}

#selectProfile {
  position: absolute;
  -webkit-transform: translate(0%,0%);
  bottom: 10%;
  right: 0;
  height: 30px;
  width: 35px;
  text-align: right;
  background: black;
  color: white;
  padding-right: 2px;
}

#selectProfile > span:hover {
  color: red;
}



#navContainer {
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  height: 420px;
  width: 500px;
}


.homeDirectoryButtons {
  margin: 15px 0px;
  height: 120px;
  width: 500px;
  background: rgb(247, 114, 114);
  text-align: center;
  line-height: 120px;
  font-family: 'Righteous', cursive;
  font-size: 60px;
  border-radius: 15px;
}

.homeDirectoryButtons:hover {
  color: white;
  background: rgb(84, 237, 211);
  -webkit-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 226px 5px rgba(0,0,0,0.75);
}

#infoContainer {
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  height: 420px;
  width: 400px;
  background: rgba(255,255,255,.3);
  -webkit-box-shadow: -1px 13px 98px 6px rgba(0,0,0,0.75);
}


#carouselNav {
  position: absolute;
  top: 80px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80px;
  background: rgba(255,255,255,.5);
}

.directional {
  position: absolute;
  width: 80px;
  height: 80px;
  background: black;
}

.directional > img {
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
}

#up {
  top: 5%;
}

#down {
  bottom: 5%;
}

/*buildContainer*/

#buildContainer {
  position: absolute;
  -webkit-transform: translate(-50%,0%);
  top: 30px;
  left: 50%;
  width: 80%;
  margin-bottom: 100px;
}


/*header css*/


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);

#header {
  position: absolute;
  height: 80px;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.75);
  margin: 0px 0px 40px 0px;
}

#logo {
  font-family: 'Shrikhand', cursive;
  color: rgb(84, 237, 211);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 1;
  position: absolute;
  top: 8%;
  left: 2%;
  -webkit-transform: translate(0%, 0%);
}

#headerNav {
  position: absolute;
  right: 2%;
  width: 300px;
  height: 80px;
}

#headerNav > a {
  float: left;
  margin: 0px 10px;
}

#home > img {
  
  height: 80px;
  width: 80px;
}

#back > img {
  margin-top: 12px;
  height: 60px;
  width: 60px;
}

#key > img {
  margin-top: 12px;
  height: 60px;
  width: 60px;
}

/*grid*/

#gridContainer {
  position: absolute;
  padding-top: 50px;
  padding-bottom: 30px;
  -webkit-transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  width: 700px;
  height: 730px;
  overflow: scroll;
}

#gridContainer::-webkit-scrollbar { 
    display: none; 
}

#grid {
  width: 800px;
}

/*product Box*/
.grid-item {
  float: left;
  width: 40%;
  margin: 0px 10px 25px 10px;
}

.productBox {
  position: relative;
  height: 300px;
  width: 100%;
  background: rgba(0,0,0,.5);
  overflow: hidden;
}

.pImg {
  position: absolute; 
  -webkit-transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  height: 100%;
  width: auto;
  max-height: 300px;
}

#slide {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background: rgba(255,255,255,.75);
  -webkit-transition: bottom 0.6s ease-in-out;
  height: 40%;
  width: 100%;
  text-align: center;
  color: black;
  font-family: 'Righteous', cursive;
  -webkit-box-shadow: 0px -5px 48px -12px rgba(0,0,0,0.95);
  -moz-box-shadow: 0px -5px 48px -12px rgba(0,0,0,0.95);
  box-shadow: 0px -5px 48px -12px rgba(0,0,0,0.95);
}

#slide > h1 {
  line-height: 69px;
}



.productBox:hover #slide{
  display: block;
  transition: 5s;
}

/*product modal*/

#productModal {
  display: none;
  position: absolute;
  left: 800px;
  top: 120px;
  -webkit-transform: translate(-50%, 0%);
  height: 350px;
  width: 500px;
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 2px 114px -8px rgba(79,79,79,1);
-moz-box-shadow: 0px 2px 114px -8px rgba(79,79,79,1);
box-shadow: 0px 2px 114px -8px rgba(79,79,79,1);
}

#contentContainer {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
}

#chatModal {
  position: absolute;
  left: 800px;
  top: 480px;
  display: none;
  -webkit-transform: translate(-50%, 0%);
  height: 250px;
  width: 500px;
  background: rgba(255,255,255,1);
  -webkit-box-shadow: 0px 2px 114px -8px rgba(79,79,79,1);
  -moz-box-shadow: 0px 2px 114px -8px rgba(79,79,79,1);
  box-shadow: 0px 2px 114px -8px rgba(79,79,79,1);
}


.closeModal {
  position: absolute;
  right: 3%;
  top: 3%;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: rgba(255,255,255,.5);
}

.closeModal > span {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: black;
  font-size: 30px;
}


/*handlebars*/

.productHeader {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 90%;
  height: 50px;
  background: rgba(255,255,255,.5);
}

.productDes {
  position: absolute;
  top: 29%;
  right: 0;
  width: 100%;
  height: 200px;
  background: rgba(255,255,255,.5);
}

.modalButtonBox {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
}


/*toolbox parts masonry render grid item (addProduct.js)*/

.parts-item {
  width: 15%;
  height: 125px;
  color: white;
  margin: 5px 0px;
  border-radius: 5px;
  display: inline-block;  
}

.parts-item span{
  position: absolute;
  left: 10%;
  bottom: 5%;
  z-index: 40;
  font-size: 15px;
}


.check {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(0,0,0,.75);
}

.check span {
  position: absolute;
  font-size: 40px;
  top: 5%;
}


/*input elements for build it, make it form (form.html)*/

/*survey to create maker*/

#surveyElement {
  position: relative;
  color: white;
  font-family: 'Righteous', cursive;
  width: 100%;
  background: rgba(0,0,0,.5);
  -webkit-transform: translate(-50%, 0);
  left: 50%;
  top: 0;
}

#next, #previous{
  background: rgb(84, 237, 211);
  color: black;
  font-size: 20px;
  height: 80px;
  width: 120px;
  border: none;
  margin: 20px 0px 0px 40px;
  font-family: 'Shrikhand', cursive ;
}

#next {
  float: right;
  margin: 20px 45px 0px 0px;
}

#previous {
  position: absolute;
  bottom: 4%;
  left: -2%;
}

.completeButton {
  font-size: 20px;
  background: rgb(247, 114, 114);
  margin: 20px;
  height: 80px;
  width: 120px;
  border: none;
  font-family: 'Shrikhand', cursive; 
}
.panel-footer {
  padding: 0 15px;
  border:none;
  text-align: right;
  background: none;
}


/*table css*/
#inventoryContainer {
  position: absolute;
  -webkit-transform: translate(-50%,0%);
  left: 50%;
  width: 880px;
}

#inventoryContainer > h1 {
  font-family: 'Righteous', cursive;
  background: rgb(247, 114, 114) ;
  padding-left: 10px;
  border-radius: 10px;
}


/*table styles (inventory.html)*/


#projects, #purchase {
  width: 100%;
  border-collapse: collapse;
}

#projects th, #purchase th {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom:5px;
  text-align: left;
}


#projects tr:nth-child(even), #purchase tr:nth-child(even) {
  background-color: #f2f2f2;
}

#projects tr:hover, #purchase tr:hover {
  background-color: #ddd;
}

th, td {
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 2px solid;
  border-color: rgba(0,0,0,.3);
}

th {
  font-size: 20px;
  border-bottom: 2px solid !important;
  border-color: rgba(0,0,0,.3) !important;
}

.glyphicon {
  font-size: 25px;
}

.glyphicon-plus {
  color: green;
}

.glyphicon-remove {
  color: red;
}

.glyphicon:hover {
  color: rgba(0,0,0,.5);
}

/* default full-width cells */
.carousel-cell {
  width: 100%;
  height: 400px;
  margin-top: 40px;
}
