/*body and background*/

body {
  padding: 20px 80px;
  background: #eee url(https://subtlepatterns.com/patterns/extra_clean_paper.png);
}

/*buildContainer*/

#buildContainer {
  position: absolute;
  width: 100%;
  margin-bottom: 100px;
}


/*survey to create maker*/

.btn-green {
  background-color: #1ab394;
  color: #fff;
  border-radius: 3px;
}
.btn-green:hover, .btn-green:focus {
    background-color: #18a689;
    color: #fff;
}
.panel-footer {
    padding: 0 15px;
    border:none;
    text-align: right;
    background-color: #fff;
}

#surveyElement {
	position: relative;
	color: white;
	width: 100%;
  background: rgba(0,0,0,.5);
	-webkit-transform: translate(-50%, 0);
	left: 50%;
	top: 0;
}


/*header css*/


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);

#header {
  position: absolute;
  margin: auto;
  height: 80px;
  right: 0;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.75);
  margin: 0px 0px 40px 0px;
}

#logo {
  font-family: 'Shrikhand', cursive;
  color: rgb(84, 237, 211);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 1;
  position: absolute;
  top: 8%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
}

/*navagation css*/


#menu {
  width: 1090px;
  height: 42px;
  list-style: none;
  position: absolute;
  text-align: center;

}
#menu li {
  width: 200px;
  margin: 30px 0px;
  position: relative;
  -webkit-transform: skewy(-3deg);
  -webkit-backface-visibility: hidden;
  -webkit-transition: 200ms all;
}

#menu li a {
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
  font-weight: 800;
  display: block;
  background: #FFF;
  padding: 2px 20px;
  color: #333;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
  text-shadow: 
    1px 1px 0px #FFF, 
    2px 2px 0px #999,
    3px 3px 0px #FFF;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.05) 100%);
  -webkit-transition: 1s all;
  background-image: -webkit-linear-gradient(left top, 
    transparent 0%, transparent 25%, 
    rgba(0,0,0,.15) 25%, rgba(0,0,0,.15) 50%, 
    transparent 50%, transparent 75%, 
    rgba(0,0,0,.15) 75%);
  background-size: 4px 4px;
  box-shadow: 
    0 0 0 1px rgba(0,0,0,.4) inset, 
    0 0 20px -5px rgba(0,0,0,.4),
    0 0 0px 3px #FFF inset;
}
#menu li:hover {
  margin-left: 15px;
}
#menu a:hover {
  color: #d90075;
}
#menu li:after,
#menu li:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 100%;
  background: #BBB;
  border-radius: 4px;
}
#menu li:after {
  background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0,0,0,.4) 100%);
  right: 0;
  top: -4px; 
}
#menu li:before {
  left: 0;
  bottom: -4px;
  background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0,0,0,.4) 100%);
}


/*container css for main part / past heading clearfixish*/

#moveDown {
  margin-top: 100px;
}

/*searchBox(market.html) / creatorBox(index.html)*/

#searchBox {
  position: relative;
  margin: 20px;
  height: 30px;
}

#searchWrapper {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
}

#inputer {
  width: 400px;
}

/*creatorBox(index.html)*/

#creatorBox{
  position: relative;
  margin: 0px 0px 20px 0px;
  height: 100px;
}

#creatorSelect {
  clear: both;
  float: right;
}

#creator {
   width: 240px;
}

/*product Box*/
.grid-sizer,
.grid-item {
  width: 44%;
}

.gutter-sizer {
  width: 4%;
}


.productBox {
  height: 300px;
  width: 100%;
  margin: 10px 20px;
  background: rgba(0,0,0,.5);
}

#slideUp {
  display: none;
  background: rgba(255,255,255,.5);
  position: relative;
  -webkit-transition: bottom 0.6s ease-in-out;
  top: 60%;
  height: 40%;
  width: 100%;
  
}

.productBox:hover #slideUp{
  display: block;
  transition: 5s;
}

/*toolbox parts masonry render grid item (addProduct2.js)*/

.parts-item {
  width: 15%;
  height: 125px;
  color: white;
  margin: 5px 0px;
  border-radius: 5px;
  display: inline-block;  
}

.parts-item span{
  position: absolute;
  left: 10%;
  bottom: 5%;
  z-index: 40;
  font-size: 15px;
}


.check {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(0,0,0,.75);
}

.check span {
  position: absolute;
  font-size: 40px;
  top: 5%;
}


/*input elements for build it, make it form (form.html)*/

.inputElement {
   border-radius: 5px;
   width: 200px;
   margin: 20px 5px;
   border: 2px solid black;
   padding: 5px;
   font-family: 'Shrikhand', cursive ;

}

.buildIt {
  background: red;
  color: white;
  height: 80px;
  width: 120px;
  margin: 20px 0px 0px 40px;
  font-family: 'Shrikhand', cursive ;
}


/*table styles (inventory.html)*/

th, td {
    border-bottom: 1px solid black;
}



